@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

button{
    background-color: rgb(255, 127, 80);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
}
.popup-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    
}
.popup-container.active{
    display: flex;
}
.popup{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.popup button{
    position: absolute;
    top: 10px;
    right: 10px;
}
.popup h1{
    color: rgb(56, 52, 52);
    font-size: 2rem;
    margin: 0px 0px 10px 0px;
    text-transform: capitalize;
    letter-spacing: 2px;
}


.popup p{
    color: rgb(56, 52, 52);
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    font-weight: normal;
}